@charset "utf-8";
@font-face {
	font-family: 'SpoqaHanSansNeo-Regular';
  	font-weight: normal;
	src: url('../font/spoqa/SpoqaHanSansNeo-Regular.eot');
	src: url('../font/spoqa/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/spoqa/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
	 	 url('../font/spoqa/SpoqaHanSansNeo-Regular.woff') format('woff'),
		 url('../font/spoqa/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello/fontello.eot?78936206');
	src: url('../font/fontello/fontello.eot?78936206#iefix') format('embedded-opentype'),
		 url('../font/fontello/fontello.woff?78936206') format('woff'),
		 url('../font/fontello/fontello.ttf?78936206') format('truetype'),
		 url('../font/fontello/fontello.svg?78936206#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;     
	display: inline-block;
	text-decoration: inherit;
	margin-right:.2em;
	text-align: center;
	width:20px;
	font-variant: normal;
	text-transform: none;
	font-size:14px;
	line-height:23px;
	margin-left:.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,input,select,textarea {font-family:'SpoqaHanSansNeo-Regular','sans-serif';}

body {font-size:14px; color:#888; line-height:23px;}
body,html {height:100%; width:100%;}
li {list-style:none;}
fieldset,ul,li,h1,h2,h3,h4,h5,ol,dl,dt,dd,p,body,input {margin:0; padding:0;}
fieldset {border:0;}
legend {display:none;}
iframe {border:none;}
img {border:0; vertical-align:middle;}
button {border:0; cursor:pointer;}
/* ::selection {background:#ffdda8; color:#967540;} */
a {text-decoration:none;}
a:link {color:#656565;}
a:visited {color:#888888;}
a:hover {color:#676767;}
a:active {color:#777; }

input {font-size:14px; height:35px; line-height:35px; padding:0 5px; vertical-align:middle;}
select {font-size:14px; color:#777; border:1px solid #bbb; height:35px; line-height:35px; padding:0 5px; vertical-align:middle; margin-right:3px;}
table {border-collapse:collapse;}
table caption {display:none;}
input,textarea,button {font-size:14px; vertical-align:middle;}
h1,h2,h3,h4,h5,h6,strong,b {font-size:14px; font-weight:normal;}
th {font-weight:normal; text-align:left;}

input[type='month'],
input[type='url'],
input[type='tel'],
input[type='color'],
input[type='datetime'],
input[type='datetime-local'],
input[type='text'],
input[type='number'],
input[type='phone'],
input[type='password'],
input[type='date'],
input[type='email'] {color:#666; border:1px solid #bbb; vertical-align:middle; margin-right:3px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {cursor: pointer;}
input[type="radio"] {font-size:0; background:#fff; line-height:0; vertical-align:middle; margin:-3px 5px 0 5px; appearance:none; outline:1px solid #ddd; border:1px solid #ddd; border-radius:100%; width:20px; height:20px;}
[type="radio"]:checked {background:#555; height:20px; outline:1px solid #555; border:3px solid #fff;}

input[type="checkbox"] {vertical-align:middle; background:#fff; margin:-3px 5px 0 5px; appearance:none; border:1px solid #888; width:25px; height:25px;}
[type="checkbox"]:checked {height:25px; position:relative; background:#555;}
[type="checkbox"]:checked::before {content:'V'; font-family:'Arial Narrow Bold'; color:#fff; position:absolute; left:7px; top:-6px; font-weight:bold;}

select[disabled],
input[disabled],
select[readonly],
select[disabled='disabled'],
input[disabled='disabled'],
select[readonly='readonly'] {color:#aaa !important; background:#f2f2f2 !important;}

input[readonly],
input[readonly='readonly'] {color:#666 !important; background:#f2f2f2 !important;}

label {display:inline-block; padding-right:10px;}

::placeholder { color:rgba(0,0,0,0.4); }
hr {width:100%; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; border:0;}

textarea {line-height:22px; padding:5px; width:100%; border:1px solid #bbb; white-space:pre-line;}
button {margin-right:3px; font-size:12px; font-weight:bold; padding:0 10px; height:35px; line-height:35px; color:#fff; vertical-align: middle; background:#333; text-shadow:1px 1px 1px rgba(0,0,0,0.3); border:1px solid #000;}
button[type="submit"] {background:#ff5500; border:1px solid #ff5500; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
button[type="reset"] {background:#888; border:1px solid #666; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
button.refresh {background:rgba(0,0,0,0.6); border:1px solid rgba(0,0,0,0.8); color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
button.send,
button.save {background:#ff5500; border:1px solid #ff5500; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
button.button1 {background:#989c25; color:#fff; border:1px solid #989c25;}
button.button2 {background:#358678; color:#fff; border:1px solid #358678;}
button.button3 {background:#354d86; color:#fff; border:1px solid #354d86;}
button.button4 {background:#e80012; color:#fff; border:1px solid #e80012;}
button.white {background:#fff; color:#666; border:1px solid #ccc; text-shadow:none;}
button.gray {background:#666; color:#fff; border:1px solid #666; text-shadow:none;}
button.excel {background:#107c41; color:#fff; border:1px solid #107c41;}
button.large {padding:0 20px; height:40px; line-height:40px;} 
button.big {padding:0 25px; height:50px; line-height:50px;} 
button.small {padding:0 10px; height:25px; line-height:24px;} 
input,
select,
textarea,
button {border-radius:5px; outline:0;}

button .icon {font-size:16px;}

select:focus,
textarea:focus,
input:focus {border:1px solid #000;}

button:hover {opacity:0.7;}
button:active {opacity:0.5;}

.tc {text-align:center;}
.tr {text-align:right;}
.btnWrap {padding:5px 0; text-align:center; position:relative;}

div,a,u,i,li,ol,ul,dl,dt,dd,span,strong,p,h1,h2,h3,h4,h5,img,input,select,button,iframe,textarea,label,fieldset,form {
    box-sizing:border-box;
}
